*.pyc
**/.DS_Store
*.pt
data/

Report/*.aux
Report/*.log
Report/*.out
Report/*.synctex.gz
Report/*.toc
Report/*.fls
Report/*.fdb_latexmk


arXiv-2410.08417v2/*.aux
arXiv-2410.08417v2/*.log
arXiv-2410.08417v2/*.out
arXiv-2410.08417v2/*.toc
arXiv-2410.08417v2/*.fls
arXiv-2410.08417v2/*.fdb_latexmk
arXiv-2410.08417v2/*.synctex.gz
arXiv-2410.08417v2/*.synctex(busy)
arXiv-2410.08417v2/*.synctex.gz(busy)
arXiv-2410.08417v2/*.synctex(busy).gz
arXiv-2410.08417v2/*.synctex.gz(busy).gz
arXiv-2410.08417v2/*.bbl
arXiv-2410.08417v2/*.blg
.DS_Store
__pycache__/
wandb/
logs/
